body{

    margin: auto;
}

p{

    font-family: monospace;
    font-size: 1,8em;
}

h1,h2,h3{

    font-family: fantasy;
}

a{

    text-decoration: none;
}

li{

    list-style: none; 
    color: black;
    font-size: 1,3em;
    font-family: monospace;

}

/* PROJETS */

.titre{

    margin-top: 100px;
}

.projet{

    width: 30%;
    padding-top: 2%;
    justify-content: center;

}

.projets{

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.projetimg{

    width: 100%;
    height: 78%;
    
}

.projetitre{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    font-size: 1em;
}

.projetimg img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*SLIDER*/

#slider{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    margin-top: 30px;
}

#precedent{

position: absolute;
left: 70px;
width: 5%;

}

#precedent img{

    width: 100%;
    
    }

#suivant{

position: absolute;
right: 70px;
width: 5%;


}

#suivant img{

    width: 100%;
    
    }

.imgSlider{

    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
} 

.imgSlider img{

    object-fit: cover;
    width: 100%;
    height: 100%;
}

#MesProjets{

    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#slider h3{

    position: absolute;
    color: white;
    font-family: monospace;
    width: 45%;
    text-align: center;
}

hr{
    width: 70%;
    color: black;
    margin-top: 100px;
    height: 1px;
    background-color: black;
}

/* MENU */

#menu{

   display: flex;
   justify-content: center;
   gap: 30px;
   width: 100%;
   position: fixed;
   z-index: 2;
   background-color: white;

}

.liensmenu{
  
   display: flex;
   gap: 40px;
   padding: 0; 

}

.liensmenu a{

    color: black;
}


/* BANNER HEADER*/

.banner img {

    animation: fadeIn 2s ease-in-out;

  }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

/* PRESENTATION */

#presentation{

    width: 55%;
}

#presentation p{

    margin-top: 20px;

}


.gpresentation{

    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

/* COMPETENCES*/

.competencecol{

    width: 45%;
    
    
}

#competencesgp{

    margin-top: 100px;
    
}


#competences{

    margin-top: 50px;
    align-items: flex-start;
    width: 100%;
}

/* CONTACT */

#contact{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    background-color: rgb(33, 30, 63);
}

#contact h2{

    color: white;
}

.formulaire{

    display: flex;

}

.formulaire input{

    height: 50px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-top: 10px;

}

.formulaire textarea{

    border-radius: 5px;
    border: none;
    width: 100%;
    margin-top: 10px;
}

.formulaire p{

    color: white;
    
}

.form-infos{

    display: flex;
    gap: 100px;
}

.informations p {

    color: white;
    
}

.informations{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer{

    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 60%;
}

.my-footer-menu{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    
}

.my-footer-menu a{

    text-decoration: none;
    color: black;
    font-family: monospace;
    

}

/* SINGLE POST*/

.main-single{

    display: flex;
    justify-content: center;
    align-items: center;
}

.post{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 2%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.post-info{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 30px;
    text-align: center;
}

.post-info a{

    margin-top: 20px;
    margin-bottom: 100px;
    
}

.post-content{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.post-content img{

    object-fit: cover;
}


@media screen and (max-width: 1024px){

    #copyright{

        flex-direction: column;
        gap: initial;

    }

    .my-footer-menu{

        flex-direction: column;
        gap: initial;
        padding: 0;
        gap: 25px;

    }

}

@media screen and (max-width: 780px){

    .liensmenu a{
        
        font-size: 10px;
    }

    .form-infos{

        display: flex;
        flex-direction: column;
    }

    .projetitre{

        font-size: small;
    }

    .post-content img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .post-info a{

        margin-bottom: initial;
    }

    .post-title{

        font-size: medium;
    }
    

}

@media screen and (max-width: 780px){
    
}



